<!-- CONTACTS VIEW START -->
<div id="contacts-view" data-tab-content class="card-360 contacts-tab">
  <div class="card-360-header">
    <div class="card-360-header-icon-container bg-orange">
      <i class="fas fa-file-invoice-dollar card-360-header-icon"></i>
    </div>
    <h4>Contacts</h4>
  </div>
  <div>
    <p>
      <strong>First Name: &nbsp;</strong>
      <span id="selectedcontactfname"></span>
    </p>
    <p>
      <strong>Last Name: &nbsp;</strong>
      <span id="selectedcontactlname"></span>
    </p>
    <p>
      <strong>Date of Birth: &nbsp;</strong>
      <span id="selectedcontactdob"></span>
    </p>
  </div>
  <div class="table-container">
    <table id="contacts-table" class="display">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- CONTACTS VIEW END -->
