<div class="search show">
  <div class="search-header">
    <ul>
      <li><h4>Search This</h4></li>
      <li>
        <ul class="search-header__linklist">
          <li><a class="btn-link">GIS Map</a></li>
          <li><a class="btn-link">Office Directory</a></li>
        </ul>
      </li>
    </ul>
    <div class="search-header__hl"></div>
    <div class="search-header__subheaders">
      <div class="search-header__subheaders-texts">
        <h4>Customer Record Lookup</h4>
        <h6>Find your customer in the system</h6>
      </div>
      <div class="search-header__subheaders-form">
        <select data-custom-select="opco"></select>
      </div>
    </div>
    <div class="search-header__error-header">
      <h5>Search criteria you entered was not found</h5>
      <a class="btn-link">Initiate Start Service</a>
    </div>
  </div>
  <form id="search-main" autocomplete="off">
    <div id="search-form">
      <div class="search-form__l-grid customcolcontainer">
        <div class="customrowcontainer">
          <div class="customgroup">
            <label class="customlabel" for="acctNum">Account Number</label>
            <input class="custominput" type="text" id="acctnum" />
            <div class="customerror"></div>
          </div>
          <div class="customgroup">
            <label class="customlabel" for="ssn">SSN/TIN</label>
            <input class="custominput" type="text" id="ssn" />
          </div>
        </div>
        <div class="customrowcontainer">
          <div class="customgroup">
            <label class="customlabel" for="fname">First Name</label>
            <input class="custominput" type="text" id="fname" />
          </div>
          <div class="customgroup">
            <label class="customlabel" for="mname">Middle Name</label>
            <input class="custominput" type="text" id="mname" />
          </div>
          <div class="customgroup">
            <label class="customlabel" for="lname">Last Name</label>
            <input class="custominput" type="text" id="lname" />
          </div>
        </div>
        <div class="customrowcontainer">
          <div class="customgroup">
            <label class="customlabel" for="busname">Business Name</label>
            <input class="custominput" type="text" id="busname" />
          </div>
          <div class="customgroup">
            <label class="customlabel" for="primphone">Phone Number</label>
            <input class="custominput" type="text" id="primphone" />
          </div>
        </div>
      </div>
      <div class="search-form__r-grid customcolcontainer">
        <div class="customrowcontainer">
          <div class="customgroup">
            <label class="customlabel" for="address">Premise Address</label>
            <input class="custominput" type="text" id="address" />
          </div>
        </div>
        <div class="customrowcontainer">
          <div class="customgroup">
            <label class="customlabel" for="city">City</label>
            <input class="custominput" type="text" id="city" />
          </div>
        </div>
        <div class="customrowcontainer">
          <div id="searchstate" data-custom-select="states" data-custom-default="FM" data-custom-label="State"></div>
          <div class="customgroup">
            <label class="customlabel" for="zip">Zip Code</label>
            <input class="custominput" type="text" id="zip" />
          </div>
        </div>
      </div>
    </div>
    <div class="form-btns">
      <button type="button" class="prim-btn" id="clearform">Defaults</button>
      <button type="submit" class="sec-btn">Find</button>
    </div>
  </form>
</div>
