/** NAV **/
/* RIGHT PANEL TAB START */
.tab-360 {
  position: relative;
}

.tab-360 > .tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.tab-360 > .tab-list::-webkit-scrollbar-thumb:horizontal {
  background: gray;
  border-radius: 10px;
}

.tab-360 > .tab-list::-webkit-scrollbar {
  height: 5px;
  background: #fff;
}

.tab-360 > .tab-list > li + li {
  margin-left: 20px;
}

.tab-360 > .tab-list > li {
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  color: #4a4a4a;
  font-weight: 700;
}

.tab-360 > .tab-list > li.active:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #0178bb;
}

.tab-360 > .tab-list > li:not(.active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #e87722;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.15s linear;
}

.tab-360 > .tab-list > li:not(.active):hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.tab-360 > ul a {
  cursor: pointer;
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
}

.tab-underline {
  height: 3px;
  width: 100%;
  background-color: darkgrey;
  margin-top: -3px;
  z-index: -1;
}

[data-tab-target] {
  text-transform: capitalize;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

.tab-close {
  color: gray;
  margin-left: 10px;
}

.tab-close:hover {
  color: red;
}

/* RIGHT PANEL TAB END */
/** END OF NAV **/
