/** CONTACTS TAB **/
.contacts-tab {
  width: 100%;
  height: 800px;
}

/*** SUB ACCOUNTS TAB **/
.subaccount-tab {
  width: 100%;
  height: 800px;
}

.dataTables_wrapper .dataTables_paginate {
  width: 100%;
  text-align: center;
}

#contacts-table_wrapper {
  border-top: 1px gray solid;
}

.dataColumnLink {
  cursor: pointer;
}
