table.dataTable thead th {
  color: #4a4a4a;
  background-color: #f7f7f7;
  font-size: 14px;
  padding: 15px 30px;
  width: 100px;
}

table.dataTable tbody td {
  color: #4a4a4a;
  font-size: 14px;
}
