:root {
  --bg-primary: #0178bb;
  --bg-bluegreen: #00a8b6;
  --bg-orange: #e87722;
  --bg-purple: #9367b9;
  --bg-yellow: #ffc72c;
  --bg-green: #78be20;
  --bg-gray: #d3d3d3;
  --bg-error: #ce1141;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body.waiting {
  cursor: progress;
}

.banner {
  height: 80px;
  width: 100vw;
  background-color: #fff;
  border-bottom: 4px solid #0178bb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
}

.logo {
  width: 250px;
  height: 50px;
}

.footer {
  height: 40px;
  width: 100vw;
  background-color: #ffc72c;
  margin-top: auto;
}

/* Colors */
.color-primary {
  color: #0178bb;
}

.color-light {
  color: #fff;
}

.bg-bluegreen {
  background: #00a8b6;
}

.bg-orange {
  background: #e87722;
}

.bg-purple {
  background: #9367b9;
}

.bg-yellow {
  background: #ffc72c;
}

.bg-green {
  background: #78be20;
}

.bg-primary {
  background: #0178bb;
}

.bg-error {
  background: #ce1141;
}
/* End of Colors*/

/* UTILITIES */
img {
  width: 100%;
  height: 100%;
}

h6 {
  font-size: 0.75rem;
  height: 17px;
  margin: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  height: 19px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

.btn-link {
  color: #0059a4;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.btn-link:hover {
  cursor: pointer;
  color: #0059a4;
}

.btn-link-sm {
  color: #0059a4;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.btn-link-sm:hover {
  cursor: pointer;
  color: #0059a4;
}

.prim-btn {
  padding: 8px 12px;
  background-color: #0059a4;
  border: 2px solid #0059a4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  outline: none;
}

.prim-btn:hover {
  background-color: #103870;
}

.prim-btn:focus {
  outline: none;
}

.prim-btn.disable {
  background-color: #e6e6e6;
  color: darkgray;
}

.sec-btn {
  padding: 8px 12px;
  background-color: #fff;
  color: #0059a4;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #0059a4;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  width: 200px;
  outline: none;
}

.sec-btn:hover {
  background-color: #103870;
  color: #fff;
  text-decoration: none;
  border: 2px solid #103870;
}

.sec-btn:focus {
  outline: none;
}

.sec-btn.disable {
  background-color: #e6e6e6;
  color: darkgray;
}

.loading::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: calc(50% - 12px);
  height: 25px;
  width: 25px;
  border: 5px solid #fff;
  border-top-color: #0178bb;
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.customrowcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.customcolcontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/** END OF UTILITIES **/
